.allContainerFooter {
  background: linear-gradient(#0f0158, #93effc);
  padding: 1rem 1rem;
  margin-top: 3rem;
  border-top: 7px solid #000000; 
  border-radius: 5px;
}

.ulFooter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.liFooter {
  font-size: 1rem;
  font-weight: 500;
}

.iconFooter{
  text-decoration: none;
  color: #d1d5db; 
  transition: color 0.4s ease, transform 0.2s ease;
}

.iconFooter:hover {
 
  transform: translateY(-6px); 
}

.liFooter {
  color: #d1d5db; /* Para el número de teléfono */
}

/*  media */
@media (max-width: 600px) {
  .ulFooter {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
