/* Contenedor principal */
.containerAllOptions {
  position: relative;
  display: inline-block;
}

/* Botón de opciones */
.btnOptionsNav {
  background: #1e1e1e;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

.btnOptionsNav:hover {
  background: #333;
}

/* Contenedor del menú desplegable */
.containerOpenOptions {
  position: absolute;
  top: 45px;
  right: 0;
  background: #2c2c2c;
  border-radius: 8px;
  padding: 10px;
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 10;
  animation: fadeIn 0.3s ease;
}

/* Lista */
.ulNavOptions {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Items */
.liNavOptions {
  margin: 8px 0;
}


.liNavOptions button {
  display: block;
  width: 100%;
  
  background: none;
  border: none;
  color: #eaeaea;
  font-size: 55px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
}


.liNavOptions button:hover {
  background: #444;
  color: #fff;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
