.allDivCarrousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 4rem; 
  color: white ;
  max-width: 1000px; 
  width: 95%; 
  margin: 3rem auto;
  border-radius: 8px; 
  background: linear-gradient(rgb(2, 2, 2), rgb(27, 4, 90));
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

.containerCardCarrousel {
  text-align: left;
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
  display: flex; 
  gap: 40px; 
  align-items: center; 
}

.imgCardCarrousel {
  width: 65%; 
  max-height: 600px; 
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}

.textCarrouselContent {
    width: 35%; 
    padding-top: 20px;
}

.titleCardCarrousel {
  font-size: 3rem; 
  font-weight: 800;
  color: var(--color-acento); 
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--color-detalle); 
  padding-bottom: 15px;
}

.descCardCarrousel {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--color-texto-claro);
  margin-bottom: 30px;
}

.divCarrousel-buttons {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
  margin-top: 11%;
}

.btnLeft, .btnRight {

  background: rgba(29, 4, 59, 0.986); 
  padding: 3%;
  border: 3px solid black;
  border-radius: 4px; /* Bordes cuadrados sutiles */
  margin: 5%;
  width: auto;
  height: auto;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btnLeft:hover, .btnRight:hover {
  background-color: rgba(214, 214, 214, 0.925);
  


@media (max-width: 900px) {
  .allDivCarrousel {
     padding: 3rem 1.5rem;
  }
  .containerCardCarrousel {
    flex-direction: column; 
    text-align: center;
    gap: 20px;
  }

  .imgCardCarrousel,
  .textCarrouselContent {
    width: 100%; 
  }
  
  .imgCardCarrousel {
    max-height: 350px;
  }

  .titleCardCarrousel {
      text-align: center;
      font-size: 2.2rem;
      border-bottom: none;
      padding-bottom: 0;
  }
}