.portadaAllCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
  color: white;
  max-width: 1000px;
  width: 95%;
  margin: 3rem auto;
  border-radius: 8px;
  background: linear-gradient(rgb(2, 2, 2), rgb(27, 4, 90));
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.portadaCarousel-card {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  text-align: left;
}

.portadaCarousel-image {
  width: 90%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.portadaCarousel-image:hover {
  transform: scale(1.02);
}

.portadaCarousel-text {
  width: 45%;
}

.portadaCarousel-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--color-detalle);
  padding-bottom: 10px;
    text-shadow: 0 0 8px  rgb(47, 0, 255);
    color: rgba(160, 160, 160, 0.692);
}

.portadaCarousel-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgb(165, 165, 165);
  margin-bottom: 30px;
}

.portadaCarousel-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.portadaCarousel-btn {
  background: rgba(56, 56, 56, 0.856);
  border: 3px solid black;
  border-radius: 6px;
  padding: 0.2rem 0.5rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-top: 15%;
}

.portadaCarousel-btn:hover {
  background-color: rgba(145, 145, 145, 0.719);
  color: black;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .portadaCarousel-wrapper {
    padding: 3rem 1.5rem;
  }

  .portadaCarousel-card {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .portadaCarousel-image {
    width: 100%;
    max-height: 350px;
  }

  .portadaCarousel-text {
    width: 100%;
  }

  .portadaCarousel-title {
    font-size: 2.2rem;
    border-bottom: none;
  }
}
