
.containerNavPortada {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: radial-gradient( rgb(0, 0, 0), #0f015763, rgba(72, 52, 255, 0.185) );
  backdrop-filter: blur(8px); 
  padding: 15px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ulNavPortada {
  display: flex;
  gap: 55px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.liNavPortada a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #70faffea; 
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}


.liNavPortada a:hover {
  color: #00ccffd3; 
  border-bottom: 2px solid #47a6fa;
  text-shadow: 0 0 8px rgb(0, 26, 255);
}


.liNavPortada a.active {
  color: #00ccffd3; 
  border-bottom: 2px solid #47a6fa;
  text-shadow: 0 2px 8px rgb(38, 0, 255);
  border-bottom: 2px groove #869faa;
}


@media (max-width: 768px) {
  .ulNavPortada {
    gap: 20px;
  }

  .liNavPortada a {
    font-size: 0.9rem;
  }
}
