
.containerNavPortada {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: radial-gradient( rgb(0, 0, 0), #27224185, rgba(153, 168, 255, 0.404) );
  backdrop-filter: blur(8px); 
  padding: 15px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ulNavPortada {
  display: flex;
  gap: 55px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.liNavPortada a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(149, 195, 255); 
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}


.liNavPortada a:hover {
    color: #ffffffd3; 
  text-shadow: 0 0 8px rgb(98, 0, 255);
  border-bottom: 2px groove #c2c2c2d7;
}


.liNavPortada a.active {
  color: #ffffffe1; 
  text-shadow: 0 0 8px rgb(98, 0, 255);
  border-bottom: 2px groove #c2c2c2;
}


@media (max-width: 768px) {
  .ulNavPortada {
    gap: 20px;
  }

  .liNavPortada a {
    font-size: 0.9rem;
  }
}
