.portadaAllCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
  color: white;
  max-width: 1000px;
  width: 95%;
  margin: 3rem auto;
  border-radius: 8px;
  background: linear-gradient(rgb(2, 2, 2), rgb(29, 27, 53));
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  box-sizing: border-box; 
}

.portadaCarousel-card {
  display: flex;
  align-items: center;
  gap: 15px; 
  width: 100%;
  text-align: left;
}

.portadaCarousel-image {
  width: 80%; 
  max-height: 600px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.portadaCarousel-image:hover {
  transform: scale(1.02);
}

.portadaCarousel-text {
  width: 50%; 
}

.portadaCarousel-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid var(--color-detalle);
  padding-bottom: 10px;
  text-shadow: 0 0 8px rgba(47, 0, 255, 0.979);
  color: rgba(154, 215, 250, 0.897);
}

.portadaCarousel-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(239, 254, 255, 0.836);
  margin-bottom: 30px;
}

.portadaCarousel-controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  width: 100%;
}

.portadaCarousel-btn {
  background: rgba(56, 56, 56, 0.856);
  border: 3px solid black;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-top: 0;
  min-width: 50px;
}

.portadaCarousel-btn:hover {
  background-color: rgba(145, 145, 145, 0.719);
  color: black;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .portadaAllCarousel {
    padding: 3rem 1.5rem;
  }

  .portadaCarousel-card {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .portadaCarousel-image {
    width: 100%;
    display: block;
    max-height: 350px;
  }

  .portadaCarousel-text {
    width: 100%;
  }

  .portadaCarousel-title {
    font-size: 2.2rem;
    border-bottom: none;
    padding-bottom: 0;
  }

  .portadaCarousel-controls {
    margin-top: 2rem;
    gap: 1rem;
  }

  .portadaCarousel-btn {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
  }
}